<h1>My journeys</h1>
<p></p>
<% @destinations.each do |element| %>
<b>
<p>
  
  <%= "#{element.name} transport: #{element.transport_type}" %>
  </p>
</b>


<p>
  <%= image_tag element.photo_url, size: "200x200" %>
</p>
<p><%= link_to 'Destroy', destination_path(element), data: {confirm: 'Are you sure?'}, method: :delete %></p>
<% end %>